.aws-btn {
    --slider-height-percentage: 30%;
    --slider-transition-duration: 10ms;
    --organic-arrow-thickness:3px;
    --organic-arrow-border-radius: 20px;
    --organic-arrow-height: 25px;
    --organic-arrow-color: rgb(48, 122, 86);
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: rgb(48, 122, 86);
    --control-bullet-active-color: #916e49;
    --loader-bar-color: rgb(48, 122, 86);
    --loader-bar-height: 6px;
}